<div class="main-wrapper">
    <div class="title-container">
        <span>List of Albums</span>
    </div>
    <div class="header-button">
        <button id="btnAddNew" type="button" mat-raised-button color="primary" (click)="openDialog()">Add New BookMark</button>
    </div>
    <div>
        <!-- <app-bookmark-list (editEvent)="editBookMark($event)" (deleteEvent)="deleteBookMark($event)"></app-bookmark-list> -->
        <!-- <app-bookmark-list (editEvent)="editBookMark($event)"></app-bookmark-list> -->
        <!-- <app-bookmark-list ></app-bookmark-list> -->
    </div>
</div>